/* Mobile landscape and portrait displays less than 481px width*/
.flex-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.flex-nav>div:nth-of-type(1) {
  margin-bottom: 20px;
}

.nav-link {
  display: inline;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #39412F;
}

.nav-link:nth-of-type(2) {
  padding: 0 33px;
}

/* Mobile, landscape */
@media only screen and (min-width: 481px) {}

/* Tablet, portrait */
@media only screen and (min-width: 769px) {}

/* Tablet, landscape */
@media only screen and (min-width: 1025px) {}

/* Laptop displays */
@media only screen and (min-width: 1200px) {}